

.KO#Screen{
    grid-template-columns: 5fr 2fr;
}

.KO > #Left_Side{
   display: none;
}

.KO > #Mid_Side > .C{
    width: 95%;
}

.KO > #Mid_Side > .C > #Opning_BTN_wrapper > #Left_Side_Open_BTN{
    display: initial;
    outline: 2px solid Pink;
}
.NO#Screen{
    grid-template-columns: 1.5fr 5fr;
}